@tailwind components;

@layer components {
   .skeleton-loader {
      @apply w-full h-5 rounded-md bg-gradient-to-r from-loading-light-from via-loading-light-via to-loading-light-to;
      background-size: 200% 100%;
      animation: skeleton-loading 2.5s infinite linear;
   }

   .skeleton-loader-imaage {
      @apply w-full h-full rounded-md bg-gradient-to-r from-loading-light-from via-loading-light-via to-loading-light-to;
   }
}

@keyframes skeleton-loading {
   0% {
      background-position: 200% 0;
   }
   100% {
      background-position: -200% 0;
   }
}
