/*
   * ================================================================================ *
   * BASE CSS VARIABLES
   * ================================================================================ *
*/
/*
   * Base CSS Styles
   *
   * This section contains the base CSS styles that are used throughout the application. 
   * These styles include global settings, such as font family, color schemes, and default padding and margins.
   *
   * The base styles are essential for maintaining a consistent look and feel across the application. 
   * They are used as the foundation upon which component-specific styles are built. 
   * Changes to these styles can have a broad impact on the application's appearance.
*/

/* Default Styling Properties */
* {
   font-family: 'Inter', sans-serif;
   box-sizing: border-box;
}

:root {
   /* * Font Family */
   --ff-sans-pro: 'SF Pro', sans-serif;
   --ff-inter: 'Inter', sans-serif;

   /* * Theme Color */
   --color-red: hsl(351, 82%, 32%);
   --color-light-red: hsl(15, 80%, 98%);
   --color-orange: hsl(7, 92%, 44%);
   --color-gold: hsl(43, 87%, 56%);
   --color-light-green: hsl(117, 71%, 31%);
   --color-green: hsl(146, 74%, 20%);
   --color-light-blue: hsl(210, 100%, 40%);
   --color-blue: hsl(213, 64%, 35%);
   --color-purple: hsl(256, 82%, 34%);
   --color-pink: hsl(0, 97%, 72%);
   --color-white: hsl(0, 0%, 100%);
   --color-black: hsl(0, 0%, 7%);

   /* * Theme Color */
   --color-neutral-100: hsl(0, 0%, 87%);
   --color-neutral-200: hsl(0, 0%, 28%);
   --color-neutral-300: hsl(0, 0%, 12%);

   /* * Theme Color */
   --bg-primary: var(--color-white);
   --bg-secondary: var(--color-neutral-100);
   --bg-tertiary: var(--color-black);

   /* * Font Size */
   --font-size-1: 0.75rem; /* 12px */
   --font-size-2: 0.8125rem; /* 13px */
   --font-size-3: 0.875rem; /* 14px */
   --font-size-4: 1rem; /* 16px */
   --font-size-5: 1.125rem; /* 18px */
   --font-size-6: 1.25rem; /* 20px */
   --font-size-7: 1.5rem; /* 24px */
   --font-size-8: 2rem; /* 32px */
   --font-size-9: 2.5rem; /* 40px */

   /* * Border Radius */
   --radius: 0.5rem;

   /* * Font Weight */
   --font-weight-thin: 200;
   --font-weight-light: 300;
   --font-weight-normal: 400;
   --font-weight-medium: 500;
   --font-weight-semibold: 600;
   --font-weight-bold: 700;
   --font-weight-extrabold: 800;
   --font-weight-black: 900;

   /* * Shadow */
   --shadow-1: 0px 6px 16px 0px rgba(22, 22, 22, 0.12);
   --shadow-2: 0px 14px 28px 0px hsla(0, 0%, 0%, 0.24);
   --shadow-3: 0px 6px 17px 0px rgba(0, 0, 0, 0.08);
   --shadow-4: 0px 6px 16px 0px rgba(0, 0, 0, 0.12);

   /* * Gradients */
   --gradient-primary: linear-gradient(96deg, #e6431f 3.13%, #d92209 55.93%);
   --gradient-seconadary: linear-gradient(
      90deg,
      var(--color-blue) 0%,
      var(--color-light-blue) 100%
   );
}
