<main class="app">
   <div class="app__side 2xl:pl-8">
      <navigation-sidebar />
   </div>
   <div class="app__body mb-14 mt-10 md:mt-0">
      <div class="hidden md:block md:mb-10">
         <shared-search-bar
            [interactive]="false"
            [placeholder]="'Try Searching Doraville Station'"
            (click)="onModalChangeEvent(true)"
         />
      </div>
      <router-outlet></router-outlet>
   </div>
   <div class="app__footer">
      <navigation-bottom-bar (searchModalChange)="onModalChangeEvent($event)" />
   </div>
   <search-modal [openModal]="showSearchModal" (modalChange)="onModalChangeEvent($event)" />
</main>
