.app-wrapper {
   display: flex;
   flex-direction: row;
   position: relative;
}

.app-wrapper__pages {
   // flex: 1;
   width: 100%;
}

@media (max-width: 992px) {
   .app-wrapper {
      flex-direction: column;
   }
}
