@switch (loadingItem) {
  @case ('search') {
    <div class="loader column">
      <div class="row bouncer left">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      Loading Results..
    </div>
  }
  @case ('card') {
    <div class="skeleton-loader w-full h-[20rem]"></div>
  }
  @case ('header') {
    <div class="flex flex-col py-4 space-y-4">
      <div class="skeleton-loader max-w-[16rem]"></div>
      <div class="skeleton-loader"></div>
    </div>
  }
  @case ('list') {
    <div class="flex gap-3">
      <div class="w-6 skeleton-loader"></div>
      <div class="skeleton-loader"></div>
    </div>
  }
  @case ('image') {
    <div class="w-full h-[10rem] xl:h-[13rem] skeleton-loader-image"></div>
  }
  @case ('button') {
    <div class="max-w-[8rem] lg:w-full h-12 skeleton-loader"></div>
  }
  @case ('icon') {
    <div class="w-6 h-6 skeleton-loader"></div>
  }
  @default {
    <div class="skeleton-loader"></div>
  }
}
