/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  @apply overflow-y-scroll overflow-x-hidden;
}
/* 
body.scroll-locked {
  overflow: hidden;
  overscroll-behavior: contain;
  position: relative;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  margin-left: 0;
  margin-top: 0;
  margin-right: 15px;
} */

body.scroll-locked {
  @apply overflow-hidden overscroll-contain relative p-0 m-0;
}
